#!/bin/bash

# ---------------------------
#
# Common settings for all contexts.
#
# ---------------------------
#
# Prefix variables with MLKC_.
#
# ---------------------------

# -----
# Passwords
# -----
export MLKC_PROYECTO_NACIONAL_DATA_POSTGRES_PASSWORD=
export MLKC_PROYECTO_NACIONAL_DATA_NACIONAL_PASSWORD=
